[package]
name = "kooha"
version = "2.2.4"
authors = ["Dave Patrick Caberto <davecruz48@gmail.com>"]
license = "GPL-3.0-or-later"
edition = "2021"

[profile.release]
lto = true

[dependencies]
anyhow = "1.0.59"
tracing = "0.1.36"
tracing-subscriber = "0.3.15"
gettext-rs = { version = "0.7.0", features = ["gettext-system"] }
gtk = { package = "gtk4", version = "0.7", features = ["gnome_45"] }
gdk-wayland = { package = "gdk4-wayland", version = "0.7" }
gdk-x11 = { package = "gdk4-x11", version = "0.7" }
adw = { package = "libadwaita", version = "0.5", features = ["v1_4"] }
gst_video = { package = "gstreamer-video", version = "0.21" }
gst_pbutils = { package = "gstreamer-pbutils", version = "0.21", features = [
    "v1_20",
] }
gst = { package = "gstreamer", version = "0.21" }
gst-plugin-gif = "0.11"
gst-plugin-gtk4 = "0.11"
futures-channel = "0.3.19"
futures-util = { version = "0.3", default-features = false }
gsettings-macro = "0.1.15"
pulse = { package = "libpulse-binding", version = "2.26.0" }
pulse_glib = { package = "libpulse-glib-binding", version = "2.25.1" }

[dev-dependencies]
ctor = "0.2.5"
