row.error-view {
  padding: 0px;
}

label.large-time {
  font-size: 450%;
  font-weight: 300;
  font-feature-settings: "tnum";
}

label.recording {
  color: @destructive_bg_color;
}

label.paused {
  animation-name: blinking;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
  animation-duration: 1s;
}

button.copy-done {
  color: @accent_bg_color;
}

window.area-selector .view-port {
  padding: 12px;
}

@keyframes blinking {
  0% {
    color: @window_fg_color;
  }
}
