headerbar.flat {
  background-image: none;
  border: none;
  background-color: @theme_bg_color;
}

button.wide {
  min-width: 138px;
}

stackswitcher.tall {
  min-height: 72px;
}

.time_label {
  font-size: 450%;
  font-weight: 300;
  font-feature-settings: "tnum";
  transition-duration: 200ms;
}

.status_label {
  font-weight: 700;
  font-size: 112%;
}

.recording {
  color: #e01b24;
}
