.large button {
  min-width: 75px;
  min-height: 63px;
}

stackswitcher image {
  -gtk-icon-size: 33px;
}

headerbar.flat {
  background-image: none;
  border: none;
  background-color: @theme_bg_color;
}

.time_label {
  font-size: 450%;
  font-weight: 300;
  font-feature-settings: "tnum";
  transition-duration: 200ms;
}

.status_label {
  font-weight: 700;
  font-size: 112%;
}

.recording {
  color: #e01b24;
}
